{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    __DEV_TOOLS__: true
  },
  "rules": {
    "new-cap": 0
  }
}
